<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team49.comfortfly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FlightSearch" />
        <activity android:name=".FlightSearchResult" />
        <activity android:name=".TripManagement" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAi1lm1rHJ4Nko9p7uQx8n9-nAul1xxlu0" />

        <activity android:name=".UpdateItinerary" />
        <activity android:name=".Register" />
        <activity android:name=".Setting"></activity>
    </application>

</manifest>